<!DOCTYPE html>
<html>
  <head>
    <link href="styles.css" type="text/css" rel="stylesheet" />
    <link href="https://sca2.homeacademies.com/favicon.ico" rel="icon" />
    <title>About</title>
  </head>
  <body>
    <header>
      <nav>
        <a href="/">Home</a>
        <a>About</a>
        <a href="/py">Python</a>
        <a href="/js">JavaScript</a>
      </nav>
    </header>
    <div id="main-content">
      <h1>About Me</h1>
      <p>
        I'm Kevin Dimaculangan.
        I enjoy programming and all things computers.
      </p>
      <p>
        I'm involved in numerous competitions. For instance:
      </p>
      <ul>
        <li><a href="https://mualphatheta.org">Mu Alpha Theta</a> mathematics competitions, in which I have won numerous trophies.</li>
        <li>The <a href="https://moschampionship.com">Microsoft Office Specialist</a> championships. Did I mention that I won first place in the world for Excel? No? Okay, then I won't.</li>
        <li>The <a href="https://uscyberpatriotorg">CyberPatriot</a> competition, in which my team was among the first at our school to reach the Gold tier; we ranked 12th in the nation.</li>
        <li><a href="https://firstinspires.org/robotics/frc">First Robotics Competition</a>; I'm the programming team captain.</li>
      </ul>
      <p>
        Other things I enjoy:
      </p>
      <ul>
        <li>Puzzles of all kinds. I've made a few, but they take <strong>so long</strong> (to make <em>or</em> solve).</li>
        <li>Video games. Who doesn't?</li>
        <li>Talking with friends, though most of my conversations end up being philosophical (much like <a href="https://en.wikipedia.org/wiki/Wikipedia:Getting_to_Philosophy">Wikipedia does</a>, perhaps?)</li>
        <li>Apparently, making 4-item-long bulleted lists.</li>
        <li>Actually, scratch that last one.</li>
      </ul>
    </div>
    <footer>
      Made in pure HTML/CSS by Kevin Dimaculangan<noscript>; if you turn on JavaScript, it won't do anything but hide this <code>&lt;noscript&gt;</code> section.</noscript>
      <br>
      You can <a href="https://github.com/therealkevind/sca2-home-exercises">fork me on GitHub</a>, I guess.
    </footer>
  </body>
</html>
