<!DOCTYPE html>
<html>
  <head>
    <title>Day 3</title>
    <link href="styles.css" type="text/css" rel="stylesheet" />
  </head>
  <body>
    <header>
      <nav>
        <a>Home</a>
        <a href="/about">About</a>
        <a href="/py">Python</a>
        <a href="/js">JavaScript</a>
      </nav>
    </header>
    <div id="main-content">
      <h1>My Work at the Harvard Academies</h1>
      <img src="https://sca2.homeacademies.com/academiesLogo.png" height="100">
      <p>
        The Harvard Academies...
      </p>
      <blockquote>
        are intensive five-day academic enrichment programs for high-achieving high school students. This program is organized by Harvard Student Agencies, a Harvard student-run corporation committed to bringing rigorous academic experiences to students worldwide.
      </blockquote>
      <p>
        I've attended two Academies so far:
      </p>
      <ul>
        <li><abbr title="Summer Coding Academy">SCA</abbr> I</li>
        <li><abbr title="Summer Coding Academy">SCA</abbr> II <em>(in progress)</em></li>
      </ul>
      <p>
        On this website, you can see selected code snippets written from both SCAs.
      </p>
    </div>
    <footer>
      Made in pure HTML/CSS by Kevin Dimaculangan
      <br>
      You can <a href="https://github.com/therealkevind/sca2-home-exercises">fork me on GitHub</a>, I guess.
    </footer>
  </body>
</html>
